<?php include(PLATFORM_PATH."view/head.html");?>

<div class="main">
    <?php include(PLATFORM_PATH."view/left.html");?>
    <div class="right">
        <ul>
            <li id="r1" >
                <div class="r_div"><img src="application/public/images/base1.gif" /><span>位置：</span>预约信息</div>
                <div class="r_div1">
                    <table>
                        <tr class="tr1"><th>ID</th><th>姓名</th><th>电话</th><th>美发师</th><th>日期</th><th>状态</th><th>操作</th></tr>
                        <?php foreach($rows as $row):?>
                        <tr>
                            <td><?php echo $row['order_id']?></td>
                            <td><?php echo $row['realname']?></td>
                            <td><?php echo $row['phone']?></td>
                            <td><?php echo $row['barber']?></td>
                            <td><?php echo $row['date']?></td>
                            <td><?php echo $row['status']?></td>
                            <td><a href="<?php echo FunctionTool::url('back','order','view',array('order_id'=>$row['order_id']))?>">回复</a> |
                                <a href="#" onclick="deleteOrder(<?php echo $row['order_id'] ?>)">删除</a>
                            </td>
                        </tr>
                        <?php endforeach;?>
                    </table>
                    <div class="pages"> <?php echo $page_html;?></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    function deleteOrder(order_id){
        if(confirm("确定要删除该预约吗？")){
            window.location.href = "<?php echo FunctionTool::url('back','order','del')?>&order_id="+order_id;
        }
    }
</script>

<?php include(PLATFORM_PATH."view/foot.html");?>